:root {
  font-family: Unbounded, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  max-width: 830px;
  display: flex;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Unbounded, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

p{
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  body{
    max-width: 650px;
  }
}

@media (max-width: 480px) {
  body{
    max-width: 480px;
  }
}